// Define variables for your color scheme

// For example:
$red: #D4312D;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #6ad4f7;
$light-gray: #b3dbf2;
$medium-gray: #45b7e0;
