// Define variables for your color scheme

// For example:
$red: #D4312D;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #b7b3b3;
$light-gray: #f7f4f4;
$medium-gray: #d8d4d4;
